<app-header icon="people" title="{{ 'ATHLETES.TITLE'|translate }}" subtitle="{{ athletes.length }}"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'ATHLETES.TITLE'|translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- SEARCH -->
  <ion-searchbar
    [(ngModel)]="search"
    (ionInput)="filterAthletes()"
    placeholder="{{ 'ATHLETES.SEARCH.PLACEHOLDER'|translate }}">
  </ion-searchbar>

  <!-- FILTERS -->
  <ion-segment [(ngModel)]="filter" (ionChange)="filterAthletes()" class="filter_segment">
    <ion-segment-button value="all" class="filter_button--all">
      <ion-label>{{ 'ATHLETES.FILTER.ALL'|translate }}</ion-label>
    </ion-segment-button>

    <ion-segment-button value="men" class="filter_button--men">
      <ion-label>{{ 'ATHLETES.FILTER.MEN'|translate }}</ion-label>
    </ion-segment-button>

    <ion-segment-button value="women" class="filter_button--women">
      <ion-label>{{ 'ATHLETES.FILTER.WOMEN'|translate }}</ion-label>
    </ion-segment-button>

    <ion-segment-button value="other" class="filter_button--other">
      <ion-label>{{ 'ATHLETES.FILTER.OTHER'|translate }}</ion-label>
    </ion-segment-button>

  </ion-segment>

  <!-- LIST -->
  <ion-list>

    <ion-item *ngFor="let athlete of filteredAthletes" class="athlete-item" (click)="openEditModal(athlete)">

      <!-- AVATAR -->
      <ion-avatar slot="start">
        <div class="avatar">
          {{ athlete.firstName.charAt(0) }}{{ athlete.lastName.charAt(0) }}
        </div>
      </ion-avatar>

      <!-- MAIN TEXT -->
      <ion-label>
        <h2>{{ athlete.firstName }} {{ athlete.lastName }}</h2>
        <p>
          {{ getAgeClass(athlete.dateOfBirth) }} · {{ athlete.gender }}
        </p>
      </ion-label>

      <ion-button slot="end" fill="clear" 
        (click)="$event.stopPropagation(); deleteAthlete(athlete.id)">
        <ion-icon name="trash-outline" color="danger"></ion-icon>
      </ion-button>

      <ion-badge
        slot="end"
        [color]="getStatusColor(athlete.firstName + ' ' + athlete.lastName)">
        {{ athlete.clubDto.name }}
      </ion-badge>

    </ion-item>

  </ion-list>

  <ion-modal #editAthleteModal class="athlete-edit-modal" (willDismiss)="onEditDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="editAthleteModal.dismiss()">{{ 'ATHLETES.CANCEL' | translate }}</ion-button>
          </ion-buttons>
          <ion-title>{{ 'ATHLETES.EDIT_ATHLETE' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmEdit()" [strong]="true">{{ 'ATHLETES.SAVE' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="{{ 'ATHLETES.FIRST_NAME' | translate }}" labelPlacement="stacked"
            [(ngModel)]="editFirstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'ATHLETES.LAST_NAME' | translate }}" labelPlacement="stacked"
            [(ngModel)]="editLastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="{{ 'ATHLETES.DATE_OF_BIRTH' | translate }}" labelPlacement="stacked" type="date"
            [(ngModel)]="editDateOfBirth"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select label="{{ 'ATHLETES.CLUB' | translate }}" labelPlacement="stacked"
            [(ngModel)]="editClub">
            <ion-select-option *ngFor="let club of clubs" [value]="club.id">
              {{ club.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select label="{{ 'ATHLETES.GENDER' | translate }}" labelPlacement="stacked"
            [(ngModel)]="editGender">
            <ion-select-option value="Male">{{ 'ATHLETES.GENDER_SELECTION.MALE' | translate }}</ion-select-option>
            <ion-select-option value="Female">{{ 'ATHLETES.GENDER_SELECTION.FEMALE' | translate }}</ion-select-option>
            <ion-select-option value="Other">{{ 'ATHLETES.GENDER_SELECTION.OTHER' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-button id="open-athlete-add-modal" expand="block" class="athlete-modal-button">{{ 'ATHLETES.ADD_ATHLETE' | translate }}</ion-button>
  <ion-modal trigger="open-athlete-add-modal" class="athlete-modal" (willDismiss)="onWillDismiss($event)" #addAthleteModal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">{{ 'ATHLETES.CANCEL' | translate }}</ion-button>
          </ion-buttons>
          <ion-title>{{ 'ATHLETES.ADD_ATHLETE' | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">{{ 'ATHLETES.CONFIRM' | translate }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="{{ 'ATHLETES.FIRST_NAME' | translate }}"
            labelPlacement="stacked"
            type="text"
            placeholder="{{ 'ATHLETES.FIRST_NAME' | translate }}"
            [(ngModel)]="firstName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="{{ 'ATHLETES.LAST_NAME' | translate }}"
            labelPlacement="stacked"
            type="text"
            placeholder="{{ 'ATHLETES.LAST_NAME' | translate }}"
            [(ngModel)]="lastName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="{{ 'ATHLETES.DATE_OF_BIRTH' | translate }}"
            labelPlacement="stacked"
            type="date"              
            placeholder="{{ 'ATHLETES.DATE_OF_BIRTH' | translate }}"
            [(ngModel)]="dateOfBirth"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select
            label="{{ 'ATHLETES.CLUB' | translate }}"
            labelPlacement="stacked"
            type="text"              
            placeholder="{{ 'ATHLETES.CLUB' | translate }}"
            [(ngModel)]="club"
          >
          <ion-select-option
            *ngFor="let club of clubs"
            [value]="club.id"
          >
            {{ club.name }}
          </ion-select-option>

          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select
            label="{{ 'ATHLETES.GENDER' | translate }}"
            labelPlacement="stacked"
            placeholder="{{ 'ATHLETES.GENDER' | translate }}"
            [(ngModel)]="gender"
          >
            <ion-select-option value="Male">{{ 'ATHLETES.GENDER_SELECTION.MALE' | translate }}</ion-select-option>
            <ion-select-option value="Female">{{ 'ATHLETES.GENDER_SELECTION.FEMALE' | translate }}</ion-select-option>
            <ion-select-option value="Other">{{ 'ATHLETES.GENDER_SELECTION.OTHER' | translate }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
