<ion-content class="ion-padding">
  <div class="login-container">
    <h1>{{ isRegister ? ('LOGIN.REGISTER' | translate) : ('LOGIN.TITLE' | translate) }}</h1>

    <ion-item *ngIf="isRegister">
      <ion-label position="floating">{{ 'LOGIN.NAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="name" type="text" />
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'LOGIN.EMAIL' | translate }}</ion-label>
      <ion-input [(ngModel)]="email" type="email" />
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
      <ion-input [(ngModel)]="password" type="password" />
    </ion-item>

    <p *ngIf="error" class="error-text">{{ error }}</p>

    <ion-button expand="block" class="google-button" (click)="loginWithGoogle()">
      {{ 'LOGIN.GOOGLE' | translate }}
    </ion-button>

    <ion-button expand="block" class="submit-button" (click)="submit()">
      {{ isRegister ? ('LOGIN.REGISTER' | translate) : ('LOGIN.TITLE' | translate) }}
    </ion-button>

    <ion-button expand="block" fill="clear" (click)="isRegister = !isRegister">
      {{ isRegister ? ('LOGIN.ALREADY_REGISTERED' | translate) : ('LOGIN.NO_ACCOUNT' | translate) }}
    </ion-button>
  </div>
</ion-content>