@use "sass:map";
@use "src/app/shared/variables" as variables;

.header {
  &__container {
    display: flex;
    justify-content: space-evenly;
  }

  &__logo {
    width: 15rem;
  }

  &__language-buttons {
    width: min-content;
    height: 100%;
  }

  &__language-button {
    width: clamp(2.5rem, 10vw, 15rem);
  }

  &__language-picker,
  &__language-picker-column {
    display: none;
    height: 6.25rem;
  }

  &__short-text {
    display: none;
  }

  &__language-icon {
    height: 2rem;
  }
}

.toolbar-container {
  display: flex;
  flex: unset;
  order: unset;
}

.quick-nav {
  display: flex;
  flex-direction: column;
  width: min-content;
  gap: 8px;
  padding: 12px 16px;
  justify-content: flex-start; 
}

@media screen and (width < map.get(variables.$size-map, "desktop")) {
  .header {
    &__short-text {
      display: block;
    }

    &__full-text {
      display: none;
    }
  }
}

@media screen and (width < map.get(variables.$size-map, "handy")) {
  .header {
    &__language-buttons {
      display: none;
    }

    &__language-picker {
      display: block;
      width: 10rem;
      height: 100%;
    }
  }
}
