<ion-header class="header" [translucent]="true">
  <ion-toolbar class="header__container">
    <ion-buttons slot="start" *ngIf="showBack">
      <ion-back-button [defaultHref]="backHref"></ion-back-button>
    </ion-buttons>
    <div class="header__container__titles">
      <span *ngIf="icon" class="material-icons header__container__titles__icon">{{ icon }}</span>
      <ion-title class="header__container__titles__title">{{ title }}</ion-title>
      <ion-text class="header__container__titles__subtitle" size="small">{{ subtitle }}</ion-text>
    </div>
  </ion-toolbar>
</ion-header>