<ion-app>
  <ion-split-pane contentId="main-content" when="md">

    <ion-menu contentId="main-content" class="split-pane">
      <ion-header>
        <ion-toolbar>
          <img src="/assets/icon/kdks.png" alt="logo" slot="start" class="header__logo" />
          <ion-title class="header__title">PowerliftMeet</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item>
            <ion-select
              label="Language"
              label-placement="floating"
              value="{{ 'LANGUAGE' | translate }}"
              (ionChange)="changeLanguage($event)"
            >
              <ion-select-option value="DE">Deutsch</ion-select-option>
              <ion-select-option value="EN">English</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <div class="quick-nav">
          <ion-menu-toggle auto-hide="false">
            <ion-button expand="block" fill="clear" routerLink="/tabs/home" routerLinkActive="active-nav">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              {{ 'HOME.TITLE' | translate }}
            </ion-button>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-button expand="block" fill="clear" routerLink="/tabs/athletes" routerLinkActive="active-nav">
              <ion-icon slot="start" name="people-outline"></ion-icon>
              {{ 'ATHLETES.TITLE' | translate }}
            </ion-button>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-button expand="block" fill="clear" routerLink="/tabs/weigh-in" routerLinkActive="active-nav">
              <ion-icon slot="start" name="barbell-outline"></ion-icon>
              {{ 'WEIGH_IN.TITLE' | translate }}
            </ion-button>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-button expand="block" fill="clear" color="success" routerLink="/tabs/lift-entry" routerLinkActive="active-nav">
              <ion-icon slot="start" name="play-outline"></ion-icon>
              {{ 'LIFT_ENTRY.TITLE' | translate }}
            </ion-button>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-button expand="block" fill="clear" routerLink="/tabs/scoreboard" routerLinkActive="active-nav">
              <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
              {{ 'SCOREBOARD.TITLE' | translate }}
            </ion-button>
          </ion-menu-toggle>
        </div>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content" class="split-pane-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>